/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

/* Buttons */
.btn {
   border-radius: 5px;
   padding: .3rem .8rem;
   font-size: .8rem; 
   border: 0;
   cursor: pointer;
}

.btn-filled {
    background-color: #47ADF1;
    color: white;
    border: 1px solid #47ADF1;
}

.btn-empty {
    background-color: white;
    border: 1px solid gray;
    color: gray;
}

/* HEADER */
.header {
    background-color: white;
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
}

.header-logo {
    vertical-align: middle;
}

.header-title {
    display: inline-block;
    vertical-align: middle;
}

/* MAIN */
.container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
}

/* Actions */
.actions {
    padding: .8rem 1.4rem;
    border-bottom: 4px solid lightgray;
}

/* Tasks */
.tasks {
    padding: 1.2rem 1.4rem;
}

.tasks ul {
    list-style-type: none;    
}

.main-list > li {
    margin-bottom: .8rem;
}

.arrow {
    margin-right: .5rem;
    font-size: 1rem;
}

.secondary-list > li {
    line-height: 2.4rem;
}

.circle {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    border: 1px solid black;
    border-radius: 50%;
}

.checked {
    border-color: green;
    color: green;
}

.cross {
    border-color: red;
    color: red;
}

.tag {
   background-color: grey;
   padding: .5rem 1rem;
   margin-left: 1rem; 
   border-radius: 20px;
   color: white;
}

.editorial {
    background-color: #47ADF1;
}

.recruiting {
    background-color: lightcoral;
}