/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/* HEADER */
header {
  padding: 10px 20px;
}

/* MAIN */
main {
  background-color: lightblue;
  padding: 50px 0;
  /* debug - regola di prova per poi cancellarla */
  /* height: 600px; */
}

.container {
  width: 60%;
  margin: 0 auto;

  /* debug */
  /* background-color: lightgoldenrodyellow; */
  /* height: 400px; */
}

.actions-block {
  background-color: white;
  margin-bottom: 5px;
  padding: 10px 40px;
  border-radius: 20px 20px 0px 0px;
}

.todos-block {
  background-color: white;
  padding: 40px;
  border-radius: 0px 0px 20px 20px;
}

/* Buttons */
.btn {
  padding: 8px 16px;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: 5px;
}


.btn-blue {
  background-color: lightskyblue;
  border-color: lightskyblue;
}

/* Pseudoclassi */
/* Quando ci passo con il mouse sopra */
.btn-blue:hover {
  background-color: darkblue;
  color: white;
}

/* Quando ci clicco */
.btn-blue:active {
  padding: 4px 8px;

}

.btn-white {
  background-color: white;
  border-color: lightgrey;
}

/* Todo list */
.chevron {
  margin-right: 10px;
}

.main-list  {
  margin-bottom: 20px;
}

.main-list > li {
  margin-bottom: 30px;
}

.inner-list > li {
  margin-top: 10px;
}

.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
}

.circle.check {
  color: green;
  border-color: green;
}

.circle.cross {
  color: red;
  border-color: red;
}

.tag {
  display: inline-block;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 20px;
}

.editorial {
  background-color: lightseagreen;
}

.q1 {
  background-color: violet;
}